.about-main{
    height: 83vh;
    width: 100%;
    margin: auto;
    translate: 0% 20%;
    display: grid;
    grid-template-columns: 3% 40% 40% 3%;
    grid-template-rows: 45% 45%;
    column-gap: 5rem;
    row-gap: 2rem;
    overflow: hidden;
}

.sec-one{
   grid-column: 2;
   grid-row: 1/-1;
   display: flex;
   justify-content: space-around;
   align-items: center;
   border: 1px solid #76aac5;
   box-shadow: 2px 2px 8px #4b6b7c;
   border-radius: 1rem;
   -webkit-border-radius: 1rem;
   -moz-border-radius: 1rem;
   -ms-border-radius: 1rem;
   -o-border-radius: 1rem;
   scale: 1 0;
   animation: show-sec-one 1s  linear forwards;
   -webkit-animation: show-sec-one 1s  linear forwards;
}
.part-one{
    width: 60%;
    color: #4b6b7c;
}
.part-two{
    width: 40%;
   margin-left: 50px;
    color: #4b6b7c;
}
.middle{
    width: .2%;
    height: 75%;
    background-color: gray;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}
.sec-one ul  {
    width: 92%;
    margin: auto;
    list-style: none;
}
li::before {content: "• "; color: #fd8522}
 p{
    color: darkblue;
}
.title{
    color: #2196f3;
    width: 90%;
   margin: auto;
   font-size: large;
}
.sec-two{
    grid-column: 3;
    grid-row: 1/-1;
    border: 1px solid  #76aac5;
    box-shadow: 2px 2px 8px #4b6b7c;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    scale: 0 1;
    user-select: none;
    animation: show-sec-one 1s  linear forwards;
    -webkit-animation: show-sec-one 1s  linear forwards;
}

@keyframes show-sec-one {
to{
scale: 1 1;
}
}

.certificates-container{
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    font-size: x-large;
    color: darkblue;
   
}
.slider{
    position: relative;
    top: 42%;
    left: 50%;
    translate: -50% -50%;
    width: 400px;
    height: 540px;
    display: flex;
}
.slider >div {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid darkblue;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.slider >div >img {
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.slider i {
    position: absolute;
    top:105%;
    left: 50%;
    translate: -50%;
    font-size: 30px;
    color:#fd8522;
    cursor: pointer;
}
span{
    position: absolute;
    top: 104%;
    left: 57%;
    color: #4b7d98;
    font-size: x-large;
} 
.slider >div>img {
    width: 100%;
    height: 100%;
}
.z-index{
    z-index: 10;
    animation: blur .3s linear forwards;
    -webkit-animation: blur .3s linear forwards;
}

@keyframes blur {
    from{
        filter: blur(3px);
        -webkit-filter: blur(3px);
}
to{
    filter: blur(0px);
    -webkit-filter: blur(0px);
}
}
