header{
    position: fixed;
    width: 100%;
    display: flex;flex-wrap: wrap;
    justify-content: center;
    column-gap: 8rem;
    padding: 2rem;
    font-size: x-large;
    background-color: #f1f1f1;
     text-shadow: .5px .5px #6d6c6c;
    z-index: 6;
}

header > div {
    cursor: pointer;
    scale: 0 1;
    animation: show-head 1.5s forwards;
    -webkit-animation: show-head 1.5s forwards;
    color: #4e8bc8;
   
}


@keyframes show-head {
    to{
        scale: 1.4 1.2;
    }
}
