header{
    position: fixed;
    width: 100%;
    display: flex;flex-wrap: wrap;
    justify-content: center;
    column-gap: 8rem;
    padding: 2rem;
    font-size: x-large;
    background-color: #f1f1f1;
     text-shadow: .5px .5px #6d6c6c;
    z-index: 6;
}

header > div {
    cursor: pointer;
    rotate: y 90deg;
    font-size: 30px;
    animation: show-head 1.5s forwards;
    -webkit-animation: show-head 1.5s forwards;
    color: rgb(192, 191, 191);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

header > div:hover{
    scale: 1.1;
    color: royalblue;
}

@keyframes show-head {
    to{
        rotate: y 0deg;
    }
}
